.nav-bar {
	background: #303A2B;
	width: 60px; 
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
	min-height: 500px;
	
	
	
	
}



nav {
	display: block;
	text-align: center;
	position: absolute;
	height: 210px; 
	top: 50%;
	margin-top: -120px;
	width: 100%;
	
	a {
		font-size: 22px;
		color: #C1666B;
		display: block;
		line-height: 51px;
		height: 51px;
		position: relative;
		text-decoration: none;
		
		i {
			transition: all 0.3s ease-out;
		}
		
		&:hover {
			color: #C1666B;
			
			svg {
				opacity: 0%;
			}
			
			&:after {
				opacity: 1;
			}
		}
		
		&:after {
			content: '';
			font-size: 9px; 
			letter-spacing: 2px; 
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			text-align: center;
			opacity: 0;
			transition: all 0.3s ease-out;
		}
		&:first-child{
			&::after{
			content:'HOME';
			}
		}
	}
	
	a.about-link{
		&:after{
			content: 'GITHUB';
		}
	}
	
	a.contact-link{
		&:after{
			content: 'LINKEDIN';
		}
	}
	
	a.active{
		svg {
			color: #C1666B;
		}
	}


}
